<mat-toolbar>
    <a routerLink="/" mat-button class="logo" style=" background-color: #FA4616;">winTrackr</a>
    <span class="spacer"></span>
    <button mat-button style="background-color: #0021A5;" routerLink="/dashboard">Dashboard</button>
   <!-- <button mat-button style="background-color: #0021A5;" routerLink="/statistics">Statistics</button>-->
    <button mat-raised-button style="background-color: #0021A5;" routerLink="/login">Login</button>
    <button mat-raised-button style="background-color: #0021A5;" routerLink="/register">Register</button>
  </mat-toolbar>
  



<!--
<mat-toolbar>
    <span class="logo" routerLink="/">Website Logo</span>
    <span class="spacer"></span>
  
    <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/scratchoff">Scratchoff Entry</button>
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>
  
    <ng-template #notLoggedIn>
      <button mat-button routerLink="/statistics">Statistics</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/register">Registration</button>
    </ng-template>
  </mat-toolbar>
-->
  