/* You can add global styles to this file, and also import other style files */

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
body {
    background: 	#C7C9C8;
}

.alert-red {
  background-color: red !important;
  color: white !important;
}

.mat-mdc-snack-bar-label {
  background-color: red !important;
  color: white !important;
}

.mat-mdc-snack-bar-surface {
  background-color: red !important;
  color: white !important;
}

.mat-mdc-snack-bar-container.red-snackbar {
  background-color: red !important;
}
